[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-llms-ollama = "*"
chromadb-client = "*"
llama-index-vector-stores-chroma = "*"
flask = "*"
llama-index-embeddings-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.10"
