{
	debug
}

distill-ai.cloud {
	tls /certs/certificate.pem /certs/key.pem
	reverse_proxy website
}

*.distill-ai.cloud {
	tls /certs/certificate.pem /certs/key.pem
	map {http.request.host} {subdomain} {
		~(.*)\.distill-ai\.cloud$ "${1}"
	}
	reverse_proxy anythingllm.{subdomain}:3001 {
	}
}
